@import 'colors';
@import 'fonts';
@import 'tip';
@import 'form';
@import 'error';
@import 'header';
@import 'footer';

@import url(https://www.thoughtworks.com/css/screen.css);

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font: 18px 'Open Sans';
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background: rgb(27,158,209);
  background: -webkit-gradient(166deg, rgba(27,158,209,1) 0%, rgba(0,113,179,1) 20%, rgba(0,79,138,1) 50%, rgba(0,48,94,1) 80%, rgba(0,21,42,1) 100%);
  background: linear-gradient(166deg, rgba(27,158,209,1) 0%, rgba(0,113,179,1) 20%, rgba(0,79,138,1) 50%, rgba(0,48,94,1) 80%, rgba(0,21,42,1) 100%);
  background-repeat: no-repeat;
  background-attachment:fixed;
}

@media screen {

  #radar {
    width: 90%;
    margin: 0 auto;
    position: relative;

    svg#radar-plot {
      margin: 0 auto;
      transition: all 0.3s ease;
      position: absolute;
      left: 0;
      right: 0;

      .legend {
        visibility: hidden;
        transition: visibility 0.3s ease 1s;
        color: $white;
      }

      path {
        &.ring-arc-3 {
          stroke: none;
          fill:  #ffb69b;
        }
        &.ring-arc-2 {
          stroke: none;
          fill: $grey-light;
        }
        &.ring-arc-1 {
          stroke: none;
          fill: $grey;
        }
        &.ring-arc-0 {
          stroke: none;
          fill: #528e5d;
        }
      }

      .blip-link {
        text-decoration: none;
        cursor: pointer;
      }

      .quadrant-group {
        cursor: pointer;
      }

      circle, polygon, path {
        &.first {
          fill: $green;
          stroke: none;
        }
        &.second {
          fill: $blue;
          stroke: none;
        }
        &.third {
          fill: $orange;
          stroke: none;
        }
        &.fourth {
          fill: $violet;
          stroke: none;
        }
      }

      line {
        stroke: white;
      }

      text {
        &.blip-text {
          font-size: 10px;
          // font-style: italic;
          font-weight: 800;
          fill: $white;
        }

        &.line-text {
          font-weight: bold;
          text-transform: uppercase;
          fill: $black;
          font-size: 10px;
        }
      }
    }

    div.quadrant-table {

      .quadrant-table__name {
        display: none;
      }

      max-height: 0;
      max-width: 0;
      position: absolute;
      overflow: hidden;

      transition: max-height 0.5s ease 1s;

      h3 {
        text-transform: uppercase;
        font-size: $baseFont;
        margin: 0;
        font-weight: bold;
        color: $white;
      }

      &.first {
        right: 20px;

        &.selected {
          float: right;
        }
      }

      &.second {
        left: 20px;

        &.selected {
          float: left;
        }
      }

      &.third {
        left: 20px;

        &.selected {
          float: left;
        }
      }

      &.fourth {
        right: 20px;

        &.selected {
          float: right;
        }
      }

      &.selected {
        position: relative;
        max-height: 10000px;
        max-width: 40%;
      }

      ul {
        padding: 0;
        margin-left: 0;

        li {
          list-style-type: none;
          padding-left: 0;
          color:$white;

          .blip-list-item {
            padding: 2px 5px;
            border-radius: 2px;
            cursor: pointer;
            font-size: $baseFont;
            font-weight: 400;
            color:$white;
            &.highlight {
              color: white;
              background-color: $port-gore-lighter;
            }
          }

          .blip-item-description {
            max-height: 0;
            overflow: hidden;
            width: 300px;

            p {
              margin: 0;
              border-top: 1px solid rgb(119, 119, 119);
              border-bottom: 1px solid rgb(119, 119, 119);
              padding: 20px;
              color: $white;
              font-weight: 100;
              font-size: 14px;
            }

            a {
              color:$curious-blue;
            }

            strong {
              color:$curious-blue;
            }

            transition: max-height 0.2s ease;
            &.expanded {
              transition: max-height 0.5s ease 0.2s;
              max-height: 1000px;
            }
          }
        }
      }
    }
  }
}
